.section-ticket-topic{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,30%);
    column-gap: 3%;
    justify-content: center;
    div{
        display: flex;
        justify-content: center;
        align-items: end;   
        h1{
            color: white;
        }
    }
    div:last-child{
        justify-content: end;
        form{
            input{
                margin-right: 5px;
                height: 25px;
                border-radius: 5px;
                width: 60%;
            }
            button{
                border-radius: 6px;
                padding: 3px 14px;
                padding-top: 2px;
                padding-bottom: 4px;
                font-size: 16px;
                cursor: pointer;
                background-color: rgb(0, 0, 0);
                border: 1px solid white;
                color: white;
            }
        }
    }
    
    
}
.section-ticket-id{
    margin-top: 30px;
    width: 98%;
    display: grid;
    grid-template-columns: 96%;
    justify-content: center;
    row-gap: 20px;
}

