.section-movie_theater {
    margin-left: 20px;
    margin-bottom: 67px;
    width: 98%;
    

}
@media screen and (max-width: 1240px) {
    .section-movie_theater{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}