
.section-moviebox{
    width: 100%;
    height: 510px;
    text-decoration: none;
    .movie-poster{
        width: 100%;
        height: 70%;
        background-size:100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
    .movie-describe{
        color: white;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 3px;
        h4{
            color: rgb(246, 195, 56);
        }
        .movie-describe-round{
            display: grid;
            grid-template-columns: repeat(3,30%);
            row-gap: 8px;
            column-gap: 2%;
            div{
                color: black;
                font-size: 0.65em;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 35px;
                background-color: rgb(248, 248, 248);
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: -9%;
            padding: 0 0;
        }
    }
  }
  @media screen and (max-width: 1300px) {
    .section-moviebox{
        .movie-describe{
            margin-top: -18%;
        }
    }
  }
  @media screen and (max-width: 1250px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: -24%;
        }
    }
  }
  @media screen and (max-width: 1200px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: -27%;
        }
    }
  }
  @media screen and (max-width: 1152px) {
    .section-moviebox{
        .movie-describe{
            height: 30%;
            margin-top: -8%;
        }
    }
  }
  @media screen and (max-width: 1100px) {
    .section-moviebox{
        .movie-describe{
            height: 30%;
            margin-top: -16%;
        }
    }
  }
  @media screen and (max-width: 1050px) {
    .section-moviebox{
        .movie-describe{
            height: 30%;
            margin-top: -24%;
        }
    }
  }
  @media screen and (max-width: 1000px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: 0;
        }
    }
  }
  @media screen and (max-width: 850px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: -8%;
        }
    }
  }
  @media screen and (max-width: 800px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: -16%;
        }
    }
  }
  @media screen and (max-width: 750px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: -24%;
        }
    }
  }
  @media screen and (max-width: 650px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: 0;
        }
    }
  }
  @media screen and (max-width: 550px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: -22%;
        }
    }
  }
  @media screen and (max-width: 500px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: -40%;
        }
    }
  }
  @media screen and (max-width: 500px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: -32%;
        }
    }
  }
  
  @media screen and (max-width: 400px) {
    .section-moviebox{
        .movie-describe{
            height: 25%;
            margin-top: -100%;
        }
    }
  }
  